$yellow: #FFE600;
$dark-gray: #333333;
$gray: #666666;
$light-gray: #999999;
$extra-light-gray: #EEEEEE;
$white: #fff;
$primary : #007bff;

$font-xx-small: 12px;
$font-x-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-x-large: 24px;
$font-large-medium: 28px;
$font-xx-large: 46px;

$space-small: 16px;
$space-large: 32px;